main {
    background: linear-gradient(90deg, #5b60b5, #4fc2d8, #ed6a5a, #5b60b5, #4fc2d8);
    background-size: 1000% 1000%;
    -webkit-animation: AnimationName 60s linear infinite;
    animation: AnimationName 60s linear infinite;
    width: 100%;
    height: calc(100vh - 64px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 90%;
    height: 90%;
    padding: 20px;
    background-color: #fff;
    overflow-y: auto;
}

/* Animation */
@keyframes AnimationName {
    0% {
        background-position: 0% 22%;
    }

    50% {
        background-position: 100% 79%;
    }

    100% {
        background-position: 0% 22%;
    }
}